---
import BaseLayout from '../../layouts/BaseLayout.astro'
import InscriptionsStage from '../../components/svelte/site/inscriptionsStage.svelte'
var data = await fetch(import.meta.env.BASEROW_URL + "rows/table/276323/?user_field_names=true", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const adhesionsTarifsTemp = await data.json()
console.log(adhesionsTarifsTemp)
const adhesionsTarifs = adhesionsTarifsTemp.results.map((item) => {return {id: item.id, type: item.type, valeur: item.valeur, isSappey: item.isSappey, isFamiliale: item.isFamiliale}})

data = await fetch(import.meta.env.BASEROW_URL + "rows/table/276307/?user_field_names=true&filter__field_1972414__not_empty&order_by=-année", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const detailsStage = (await data.json()).results[0]
const tarifStage = detailsStage.tarif
const debut = detailsStage["date debut"]
const fin = detailsStage["date fin"]
const annee = detailsStage["année"]
const acompte = detailsStage.acompte
const titre = "Inscription Stage été "+annee
---
<BaseLayout title={titre}>
  <h1 class="px-2">Inscriptions au stage été {annee}</h1>
  <p class="px-3">Le stage de {annee} aura lieu du <strong class="text-bleu-700">{debut} au {fin} {annee}</strong>. Le prix du stage est de <strong class="text-bleu-700">{tarifStage} €</strong></p>
  <InscriptionsStage client:load {adhesionsTarifs} {tarifStage} {acompte}/>
</BaseLayout>