---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Inscriptions from '../../components/svelte/site/inscriptions.svelte'

var data = await fetch(import.meta.env.BASEROW_URL + "rows/table/651/?user_field_names=true&order_by=titre", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const sectionsTemp = await data.json()
const sections = sectionsTemp.results
data = await fetch(import.meta.env.BASEROW_URL + "rows/table/650/?user_field_names=true", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const professeursTemp = await data.json()
const professeurs = professeursTemp.results.map(prof => {return {id: prof.id, prenom: prof.prenom, nom: prof.nom, acl_sections: prof.sections}})
data = await fetch(import.meta.env.BASEROW_URL + "rows/table/654/?user_field_names=true", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const lesTarifsTemp = await data.json()
const lesTarifs = lesTarifsTemp.results.map((tarif) => {return {duree: tarif.duree_seance, tarif: tarif.tarif_acl, type: tarif.type}})
data = await fetch(import.meta.env.BASEROW_URL + "rows/table/655/?user_field_names=true", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const adhesionsTarifsTemp = await data.json()
const adhesionsTarifs = adhesionsTarifsTemp.results.map((item) => {return {id: item.id, type: item.type, valeur: item.valeur, isSappey: item.isSappey, isFamiliale: item.isFamiliale}})
data = await fetch(import.meta.env.BASEROW_URL + "rows/table/667/?user_field_names=true&filter__field_5959__not_empty", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const saisonTemp = (await data.json()).results.pop()
const saison = saisonTemp.titre
data = await fetch(import.meta.env.BASEROW_URL + "rows/table/672/?user_field_names=true", {headers: {Authorization: "Token " + import.meta.env.TOKEN_BASEROW_LECTURE}})
const sectionProfTemp = (await data.json()).results
const sectionProf = sectionProfTemp.map((sp) => {return {id: sp.id, profId: sp.professeur[0].id, sectionId: sp.section[0].id}})

---
<BaseLayout title="Inscriptions">
  <h1 class="px-2 text-4xl mb-2">Inscriptions à l'école de musique</h1>
  <p class="ml-4">Vous pouvez consulter les tarifs <a href="/tarifs">ici</a>.</p>
  <Inscriptions client:load {professeurs} {sections} {sectionProf} {adhesionsTarifs} {lesTarifs} {saison}/>
</BaseLayout>

<style>
:global(.FM) {
  @apply flex flex-wrap gap-2 mb-4;
}

:global(.FM div) {
  @apply border border-vert-700 bg-vert-400/50 p-2 rounded;
}

:global(.FM div h3) {
  @apply font-semibold;
  @apply text-base text-vert-900 p-0 m-0;
}

:global(#formation-musicale) {
  font-weight: 600;
  @apply text-xl text-vert-900 p-0 m-0;
}

:global(.ateliers) {
  @apply flex flex-wrap gap-2 mb-4;
}

:global(.ateliers div) {
  @apply border border-bleu-700 bg-bleu-400/50 p-2 rounded;
}

:global(.ateliers div h3) {
  @apply font-semibold;
  @apply text-base text-bleu-900 p-0 m-0;
}

:global(#ateliers) {
  font-weight: 600;
  @apply text-xl text-bleu-900 p-0 m-0;
}


:global(.instruments) {
  @apply flex flex-wrap gap-2 mb-4;
}

:global(.instruments div) {
  @apply border border-jaune-700 bg-jaune-400/50 p-2 rounded;
}

:global(.instruments div h3) {
  @apply font-semibold;
  @apply text-base text-jaune-900 p-0 m-0;
}

:global(#instruments) {
  font-weight: 600;
  @apply text-xl text-jaune-900 p-0 m-0;
}
</style>